{{NEXUS_HOST}} {
    tls {{CADDY_EMAIL}}

    proxy / http://{{NEXUS_IP}}:{{NEXUS_PORT}} {
        fail_timeout 0s
        transparent
    }

    log stdout
    errors stdout
}

{{REGISTRY_HOST}} {

    proxy / http://{{NEXUS_IP}}:{{REGISTRY_PORT}} {
        fail_timeout 0s
        websocket
        transparent
    }

    log stdout
    errors stdout
}
